snippet met 
public function $1($2)
{
	$3
}
endsnippet

snippet pmet
${1:protected} function $2($3)
{
	$4
}
endsnippet

snippet smet
protected static function $1($2)
{
	$3
}
endsnippet

snippet @t
/** @test */
endsnippet
